$primary-clr: #f2f2f2;
$secondary-clr: #071359;
$tertiary-clr: #84d9c9;

// BUTTON
$button-clr: #422bd9;

// DESIGN
$stroke1-clr: #f2e85e;
$stroke2-clr: #f26b6b;
$navigationBtn-clr: #79f2c6;

// TEST
$test-clr: pink;
